html {
    height: 100%;
    background: linear-gradient(black, #000099, #0066ff,#66c2ff, white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
}
.padding {
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    background: linear-gradient(25deg, black, #0066ff, black); /*Royal Blue*/
    padding-left: 7px;
    padding-right: 10px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
}
.fontArial {
    font-family: Arial;
}
.fontGeorgia {
    font-family: Georgia;
}