body {
    background-image: linear-gradient(#0066ff, #66c2ff, white, white, white, #66c2ff, #0066ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a {
    display: block; 
    width: 45px;
}
img {
    width: 100%;
}
footer {
    padding-top: 5%;
    padding-bottom: 5%;
}
hr {
  margin-top: 3%;
  margin-bottom: 3%;
}
.padding {
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
}
.padding:hover {
    animation-name: pop;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.hov {
    color: black;
    margin-left: 6%;
    margin-right: 6%;
}
.hov:hover {
    animation-name: pop;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
@keyframes pop {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1.07,1.07);
    }
}
.border {
    border-radius: 5px;
    border-width: ;
}
.center {
    text-align: center;
}
.fontLucida {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fontArial {
    font-family: Arial, sans-serif;
}
.fontGeorgia {
    font-family: Georgia, serif;
}
.fontTNR {
    font-family: 'Times New Roman', Times, serif;
}
.fontNotoSans {
    font-family: 'Noto Sans', sans-serif;
}
.linksFlex {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 1%;
}
.skillsFlex {
    display: flex;
    flex-flow: column;
    margin-right: 1%;
}
.linkMargin {
    margin-left: 2%;
    margin-right: 2%;
}
.projectMarginEdit {
    margin-top: 5px;
    margin-bottom: 5px;
}
.black {
    color: black;
}
.grey {
    color: darkgrey;
}


/*`


slide animation before major portfolio updates
.slide {
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes slide {
    0% {
        top: 1200px;
    }
    50% {
        top: -50px;
    }
    100% {
        top: 0px;
    }
}

button color, size, and functions
button {
    background-color: #000099;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px 10px 8px 10px;
  }
button:hover {
    animation-name: button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes button {
    100% {
        color: black;
        background-color: white;
    }
}


*/